<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="Entrepot" transaction-type="RESOURCE_LOCAL">
        <properties>
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://192.168.0.150:5432/entrepot" />
            <property name="javax.persistence.jdbc.user" value="ursi" />
            <property name="javax.persistence.jdbc.password" value="password" />
        </properties>

    </persistence-unit>
</persistence>
